#accordion {
    /*width: 500px;*/
    /*border: 1px dotted silver;*/
}

.heading{
    margin: 2px;
    padding: 2px;
}

.list{
    border: 1px dotted cornflowerblue;
}

.item{
    padding: 5px;
    font-weight: bold;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}